#workskin .story-page {
  display: none;
}

#workskin .workskinWarning {
  display: none;
}

#workskin .story-link:target + .story-page {
  display: block;
}

#workskin #page-1 + .story-page {
  display: block;
}

#workskin .story-link:target ~ #page-1 + .story-page {
  display: none;
}

#workskin .mspaWrap p {
  margin: 0;
  line-height: 1.35;
}

#workskin .mspaWrap {
  background-color: #535353;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

#workskin .mspaWrap a {
  color: unset;
}

#workskin .contentBox {
  background-color: #c6c6c6;
  max-width: 970px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;
}

#workskin .comicContent {
  background-color: #eeeeee;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 25px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

#workskin .comicContent img {
  margin: 0 -25px;
  max-width: 100vw;
}

#workskin .comicContent h2 {
  font-size: xx-large;
  padding: 14px 0;
  margin: 0;
  font-weight: 600;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

#workskin .mspaWrap a {
  text-decoration-style: solid;
}

#workskin .mspaWrap .links {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 590px;
  text-align: left;
}

#workskin .spoiler {
  border: 1px dashed gray;
  padding: 15px 5%;
  text-align: left;
}

#workskin .mspaWrap .gameLinks {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 10px;
  padding-bottom: 14px;
}


#workskin .black { color: #000000 } 
#workskin .white { color: #ffffff } 
#workskin .aradia { color: #a10000 } 
#workskin .AR { color: #e00707 } 
#workskin .athblue { color: #0000ff } 
#workskin .athred { color: #ff0000 } 
#workskin .athgreen { color: #00ff00 } 
#workskin .bro { color: #f2a400 } 
#workskin .dad { color: #4b4b4b } 
#workskin .equius { color: #000056 } 
#workskin .eridan { color: #6a006a } 
#workskin .exile { color: #ffffff } 
#workskin .feferi { color: #77003c } 
#workskin .gamzee { color: #2b0057 } 
#workskin .jade { color: #4ac925 } 
#workskin .jadesprite { color: #1f9400 } 
#workskin .jane { color: #00d5f2 } 
#workskin .jaspersprite { color: #ff6ff2 } 
#workskin .john { color: #0715cd } 
#workskin .kanaya { color: #008141 } 
#workskin .karkat { color: #626262 } 
#workskin .nepeta { color: #416600 } 
#workskin .rose { color: #b536da } 
#workskin .scratch-green { color: #ffffff } 
#workskin .scratch { color: #ffffff } 
#workskin .sollux { color: #a1a100 } 
#workskin .strider { color: #f2a400 } 
#workskin .tavros { color: #a15000 } 
#workskin .terezi { color: #008282 } 
#workskin .uu { color: #929292 } 
#workskin .undyingumbrage { color: #323232 } 
#workskin .vriska { color: #005682 } 
#workskin .altcaliborn { color: #2ed73a } 
#workskin .limeblood { color: #678900 } 