body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#workskin {
  outline: solid black;
  margin: 20px;
  padding: 20px;
}

body > p {
  max-width: 940px;
  margin: auto;
}